* {
	margin: 0;
	padding: 0;
}

nav {
	background: #222;
	width: 120px;
	transition-duration: 0.3s;
	transform: translateX(-120px);
	position: fixed;
	bottom: 0;
	top: 0;
}

nav span {
	display: block;
	color: #FBB;
	line-height: 40px;
	text-indent: -15px;
	cursor: default;
}

.nav-scroll {
	overflow-y: auto;
	height: calc(100vh - 40px);
}

nav > ul {
	list-style: none;
	text-align: center;
}

nav li {
	padding: 15px;
}

nav li:hover, nav .active {
	border-left: 5px solid #1565C0;
	background: #1A1A1A;
}

nav a {
	color: #DDD;
	text-decoration: none;
}

nav a[href="#quit"], nav a[href="#disconnect"] {
	color: red;
}

nav a[href="#quit"]:hover li, nav a[href="#disconnect"]:hover li {
	border-left: 5px solid red;
}

nav a[href="#quit"] li {
	margin-top: 20px;
}

#strap {
	overflow: visible;
	position: absolute;
	background-color: #222;
	width: 40px;
	height: 40px;
	cursor: pointer;
	text-align: center;
	transition-duration: 0.3s;
	transform: translateX(120px);
}

#strap > div {
	background-color: #DDD;
	height: 2px;
	border-radius: 0.5px;
	width: 20px;
	transition-duration: 0.3s;
}

.strap1 {
	transform: translateY(7px) translateX(10px);
}

.strap2 {
	transform: translateY(17px) translateX(10px);
}

.strap3 {
	transform: translateY(27px) translateX(10px);
}

@media ( max-height: 600px ) {
	nav li {
		padding: 10px;
	}
}

@media ( max-height: 300px ) {
	nav li {
		padding: 5px;
	}
}