* {
	margin: 0;
	padding: 0;
	user-select: none;
}

body, html {
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	display: flex;
	justify-content: center;
	height: 100vh;
	color: #444;
	width: 100%;
	cursor: default;
	perspective: 1000px;
}

.back {
	transform: rotateY(-180deg);
}

.front {
	transform: rotateY(0deg);
}

.card {
	position: absolute;
	margin: auto;
	top: 50%;
	width: 450px;
	height: 280px;
	transform: translateY(-50%);
	padding: 15px;
	max-width: 100%;
	perspective: 1200px;
}

.form {
	position: absolute;
	backface-visibility: hidden;
	text-align: center;
	width: 450px;
	height: 280px;
	padding: 15px;
	max-width: 100%;
	transition-duration: 1s;
	box-shadow: -5px 5px 30px #AAA;
}

.card.switched > .front {
	transform: rotateY(180deg);
}

.card.switched > .back {
	transform: rotateY(0deg);
}

.back > div {
	margin-top: 10px !important;
}

.form > *:not(:first-child) {
	display: block;
	margin: auto;
	margin-top: 20px;
}

label {
	cursor: pointer;
	width: 8em;
}

.switch {
	color: #327bba;
	cursor: pointer;
	font-weight: bold;
	transition-duration: 0.2s;
}

.switch:hover {
	color: #2449ca;
}

input:focus {
	outline: none;
}

input[type="checkbox"] {
	cursor: pointer;
}

input[type="text"], input[type="password"] {
	border: 0;
	border-bottom: 2px solid #AAA;
	font-size: 1em;
	height: 2em;
	width: 250px;
	max-width: 98%;
	transition-duration: 0.4s;
}

input[type="text"]:focus, input[type="password"]:focus {
	border-bottom-color: #333;
}

input[type="submit"] {
	border: 0;
	padding: 10px;
	width: 300px;
	max-width: 98%;
	cursor: pointer;
	background: #428bca;
	color: #FFF;
	transition-duration: 0.4s;
}

input[type="submit"]:hover, input[type="submit"]:focus {
	background: #3276b1;
}