@font-face {
	font-family: "OpenSans";
	src: url(OpenSans.ttf); /* OpenSans-Regular */
}

* {
	margin: 0;
	padding: 0;
}

div {
	width: 29%;
	padding: 10px;
	float: left;
	margin-left: 1%;
	margin-top: 1%;
	text-align: center;
}

div h3 {
	font-family: "OpenSans", sans-serif;
	color: #333;
	border-bottom: 1px solid #666;
}

div img {
	max-width: 50%;
}

div button {
	background-color: #0288D1;
	border: 0;
	padding: 5px 10px;
	transition-duration: 0.2s;
	color: #FFF;
	cursor: pointer;
	font-size: 1em;
}

div button:hover {
	background-color: #0277BD;
}